{% comment %}
vim:ft=htmldjango ts=3 sw=3 et
{% endcomment %}
<!DOCTYPE html>
<html>
   <head>
      <title>EighthBit: {% block title %}home{% endblock %}</title>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
      <link rel="stylesheet" href="/media/blueprint/screen.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="/media/blueprint/print.css" type="text/css" media="print" />
      <!--[if lt IE 8]>
         <link rel="stylesheet" href="/media/blueprint/ie.css" type="text/css" media="screen, projection" />
      <![endif]-->
      <style type="text/css">
         label { vertical-align: top; }
         #header .linkbar, #header .linkbar a {
            font-family: sans;
            color: #192258;
            font-size: 1.3em;
            text-align: center;
         }
         #header .linkbar a:hover {
            color: #4c7b47;
         }
         .center {
            text-align: center;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="span-24" id="header">
            <div class="center">
               <img src="/media/logos/logo-nobg.png" alt="eighthbit" />
            </div>
            <div class="linkbar">
               <a href="/webchat" class="link">Web Chat</a> // 
               <a href="/qdb" class="link">Quote Database</a>
            </div>
            <hr />
            <div class="center">
               {% block sublinks %}{% endblock %}
            </div>
                     </div>
         <div class="span-24">
            {% block content %}
               ...
            {% endblock %}
         </div>
      </div>
   </body>
</html>
