# Django settings for eighthbit project.
import os
import ldap
from django_auth_ldap.config import LDAPSearch, GroupOfNamesType, MemberDNGroupType

relpath = lambda *x: os.path.join(os.path.abspath(os.path.dirname(__file__)), *x)

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
      ("CodeBlock", "codeblock@eighthbit.net"),
)

MANAGERS = ADMINS

DATABASE_ENGINE = 'mysql'
DATABASE_NAME = 'somedatabase'
DATABASE_USER = 'someuser'
DATABASE_PASSWORD = 'password_here'
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = '3306'


AUTH_LDAP_SERVER_URI = "ldap://localhost:2242"
#this works, and will always work.
AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,ou=users,ou=irc,dc=eighthbit,dc=net"

#This lists all the valid groups we can auth from, so we need to be a bit more specific
#about which groups that is.
AUTH_LDAP_GROUP_SEARCH = LDAPSearch("ou=groups,ou=irc,dc=eighthbit,dc=net", 
                                     ldap.SCOPE_SUBTREE)

#This tells us what we expect as a result... I think
AUTH_LDAP_GROUP_TYPE = MemberDNGroupType(member_attr='member',name_attr='ou')

AUTH_LDAP_USER_FLAGS_BY_GROUP = {
      "is_active": "ou=EighthBit,ou=groups,ou=irc,dc=eighthbit,dc=net",
      "is_staff": "ou=EighthBit,ou=groups,ou=irc,dc=eighthbit,dc=net",
      "is_superuser": "ou=EighthBit,ou=groups,ou=irc,dc=eighthbit,dc=net"
}

AUTH_LDAP_USER_ATTR_MAP = {
      "first_name": "cn",
      "last_name": "sn",
      "email": "mail",
}

AUTH_LDAP_CACHE_GROUPS = False
AUTH_LDAP_FIND_GROUP_PERMS = True


AUTHENTICATION_BACKENDS = (
   'django_auth_ldap.backend.LDAPBackend',
   'django.contrib.auth.backends.ModelBackend',
)

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/New_York'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = relpath("media/")

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = ''

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/admin/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '+v3n^()4d6-k^ezt$90fc5l^$yxp5vfn6zausha8+rrv3#0e!_'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
)

ROOT_URLCONF = 'eighthbit.urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    relpath("template/"),
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.admin',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'south', # Database Migrations
    'bitwik',
    'general',
    'roadmap',
    #'wiki',
    'qdb',
)
