{% extends "base.html" %}

{% block title %}Add a quote{{ quote.id }}{% endblock %}
{% block h1title %}Add a quote{% endblock %}
{%block subtitle %}{% endblock %}
{% block sublinks %}{% include "qdb/links.html" %}{% endblock %}
{% block content %}
<p>
   {% if form.errors %}
      <b>Please fix the errors below, and try again.</b>
   {% endif %}
   <form action="" method="post">
      {% for field in form %}
         {% if field.errors %}
            <div class="error">
               {{ field.errors }}
         {% endif %}
         {{ field.label_tag }} {{ field }}<br />
         {% if field.errors %}
            </div>
         {% endif %}
      {% endfor %}
      <input type="submit" value="Submit">
   </form>
</p>
{% endblock %}
