{% extends "base.html" %}

{% block title %}Quotes Listing (page {{ quotes.number }}){% endblock %}
{% block sublinks %}{% include "qdb/links.html" %}{% endblock %}
{% block content %}
   <br />
   <p style="text-align: right">
   {% if quotes.has_previous %}
      <a href="/qdb/list/{{quotes.previous_page_number}}">&laquo;</a>
   {% endif %}
   page {{ quotes.number }} of {{ quotes.paginator.num_pages }}
   {% if quotes.has_next %}
      <a href="/qdb/list/{{quotes.next_page_number}}">&raquo;</a>
   {% endif %}

   {% for quote in quotes.object_list %}
   <div class="success">
      <blockquote>
         <p style="text-align: right">
            <a href="/qdb/quote/{{ quote.id }}">Quote {{ quote.id }}</a>
         </p>
	 <h3>{{ quote.contents|linebreaksbr|spacify }} </h3><br />
         {% if quote.comment %}
            Comment: {{ quote.comment }}
         {% endif %}
      </blockquote>
   </div>
   {% endfor %}
{% endblock %}
