{% extends "base.html" %}

{% block title %}Quote #{{ quote.id }}{% endblock %}
{% block h1title %}Quote #{{ quote.id }} by {{quote.submitter }}{% endblock %}
{% block subtitle %}{% endblock %}
{% block sublinks %}{% include "qdb/links.html" %}{% endblock %}
{% block content %}
   <br />
   <h4 class="notice">
      <b>Comment: </b>{{ quote.comment }} <br /> 
   </h4>

   <h3>
      <blockquote class="success">
         {{ quote.contents|linebreaks }} <br />
      </blockquote>
   </h3>
</center>   
{% endblock %}
