{% extends "base.html" %}
{% load spacify %}

{% block scripts %} <script src="/media/js/qdb/voting.js"></script> {% endblock %}
{% block title %}Quote #{{ quote.id }}{% endblock %}
{% block h1title %}Quote #{{ quote.id }} by {{quote.submitter }}{% endblock %}
{% block subtitle %}{% endblock %}
{% block sublinks %}{% include "qdb/links.html" %}{% endblock %}
{% block content %}
   <br />
   <h4 class="notice">
      <b>Comment: </b>{{ quote.comment }} <br /> 
   </h4>

   <div class="success">
      <blockquote>
         <p style="text-align: right">
         Quote {{ quote.id }} Score: <span id="{{ quote.id }}">{{ quote.score }}</span> <a href="#" onclick="upvote( {{ quote.id }}); return false;">+</a> <a href="#" onclick="downvote({{ quote.id }}); return false;">-</a>
         </p>
    <pre>{{ quote.contents }}</pre><br />
      </blockquote>
   </div>
{% endblock %}
